.lift {
  flex-basis: 30%;
  flex-grow: 1;
  &__title {
    padding-bottom: 1rem ;
  }
  &__list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2,1fr);
    height: 10vh;

    @media only screen and (max-width: 670px) {
      display: flex;
      flex-direction: column;
  }
}
.radio{
  padding: 0 1rem;
  &__label{
    width: 100%;
    padding: 0 1rem;
  }
}
}


