@use "../../assets/sass/variables.scss" as *;
@use"../../assets/sass/typography.scss" as *;
.filters {
  grid-area: 1/1/2/13;
  display: flex;
  position: relative;
  top: 6vh;
  align-items: center;
  justify-content: space-around;
  background-color: $color-background-transparent;

  font-family: $body-font;

  .difficulty-container {
    width: 50%;

    .difficulty-filter {
      width: 100%;
    }
    //     .difficulty-filter::-webkit-slider-thumb {
    //         background-image: ;
    //     }
  }
}
