@use "./assets/sass/variables.scss" as *; 
@use "./assets/sass/typography.scss" as *;

.App {
    background-color: $color-background;
}


main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    background-color: $color-background;
  
}

