@use "../../assets/sass/typography.scss" as *;
@use "../../assets/sass/variables.scss" as *;

.nav {
  background-color: $color-background;
  grid-area: 1/1/1/13;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  align-items: center;
  height: 7.5vh;
  -webkit-box-shadow: 0 8px 6px -6px rgba(34, 0, 0, 0.109);
  -moz-box-shadow: 0 8px 6px -6px rgba(34, 0, 0, 0.109);
  box-shadow: 0 8px 6px -6px rgba(34, 0, 0, 0.109);

  &__logo {
    height: 60%;
  }

  &__hamburger {
    stroke: $color-grey;
    @media only screen and (min-width: 600px) {
      display: none;
    }
  }

  &__container {
    display: flex;
    width: 35vw;
    list-style-type: none;
    justify-content: space-between;
    color: $color-background;
    font: $head-font;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.nav__link {
  font-weight: 600;
  font-size: 1rem;
  color: $color-black;
  font-family: $head-font;
  text-decoration: none;
  
  a {
    text-decoration: none;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
    color: $color-purple;
  }
}
}
