@use "../../assets/sass/typography.scss" as *; 
@use "../../assets/sass/base.scss" as *;

.nav{
 background-color: $color-black;
 grid-area: 1/7/1/1;
 display: flex;
 align-content: flex-end;
 justify-content: space-around;
 align-items: center;

 &__logo {
     background-color: $color-red;
     padding: 2.5vmin 2.5vmin;
     font-weight: 700;
     color: $color-background;
     font-size: 1.5em;
 }

 &__hamburger{
     display: none;
 }

 &__links{
     display: flex;
     width: 25vw;
     list-style-type: none;
     justify-content: space-between;
     color: $color-background;
     font: $head-font;
     @media only screen and (max-width: 600px) {
    display: none;
    }
&__links > * {
    font-weight: 600;
    font-size: 1.25em;
    }
 }
}x
