@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,600;0,900;1,200&family=Open+Sans:wght@300;700;800&display=swap");

$head-font: "Exo 2", sans-serif;
$body-font: "Open Sans", sans-serif;

$head-font-weight: 600;

h1,h2,h3,h4,h5,h6,input,label,p {
color: $color-black;
}
