$color-grey: #f9f6fd;
$color-black: #1F000D;
$color-darker-grey: #d3d2d2;
$color-pink: #F3E1FF;
$color-pink-darker: #f1d0ea;
$color-background: #ffffff;
$color-background-transparent: #ffffff88;
$color-purple: #614652;
